@charset "utf-8";
/*Base CSS Document */
/*CSS Document for Desktop Devices*/
/*Organic Flowers Garden WebSite */
/*Group project : Website Design 420-PY3-AB Summer 2016
  Instructor: Dr. Khattar Daou, M.S., Ph.D. Technical Sciences
   Internet Programming and Development IPD8
   
   Designed and presented by:
   Miho Akasaka;
   Nathalie Desrosiers;
   Valentina Migalatti; and
   Leanne Seary
   
   Date: June 4, 2016 */

#registerLogin li {
    display: inline;
    padding-right: 10px;
    vertical-align: central;
}
body {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: rgba(225, 236, 237, 1.0);
    margin: 0px;
    bottom: 0px;
}
#header {
    width: 100%;
    margin: auto;
    height: 20%;
}
.logo {
    width: 80%;
    margin-left: 25px;
    float: left;
}
#header_a ul {
    list-style-type: none;
    display: block;
    text-align: right;
    color: #4F9794;
    margin-right: 30px;
    margin-top: 0px;
}
#registerLogin {
    padding-top: 15px;
}
#registerLogin a {
    text-decoration: none;
    text-align: right;
    color: #4F9794;
    font-style: normal;
    font-weight: bold;
    outline: 0;
}
#navHeader {
    clear: both;
    width: 100%;
    margin: auto;
    text-align: center;
}
#navHeader ul {
    clear: both;
    width: 100%;
    margin: auto;
    list-style-type: none;
}
#navHeader ul li {
    display: inline-block;
    margin: 0 10px 10px;
}
.navbar-default {
    background-color: #fff;
}
#navHeader ul li a {
    display: block;
    min-width: 120px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(79, 151, 148);
    border-radius: 18px;
    box-shadow: 2px 2px 3px #999;
    transition: all 0.3s ease-in-out;
    outline: 0;
}
#booksReferral a img {
    transition: all 0.3s ease-in-out;
}
#booksReferral a img:hover {
    transform: scale(1.05);
}
#navHeader a:hover {
    color: #000;
    transform: translate(0px, 10px);
    box-shadow: 0px -5px 3px #999;
}
#homePageArticle {
    background-color: rgba(225, 236, 237, 1.0);
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    border: thin solid #4F9794;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 2px #BEBEBE;
}
/* Products styles */

#booksForPhone {
    display: none;
}
#ourProducts h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px #BEBEBE;
    color: #4F9794;
    margin: 20px auto 10px auto;
    padding-top: 50px;
    padding-bottom: 10px;
}
#productTable {
    width: 940px;
    margin: 10px;
    border: thin solid #4f9794;
    overflow: hidden;
}
#productTable th {
    width: 940px;
    font-size: 16px;
    font-weight: bold;
    border: thin solid #4f9794;
}
#productTable td {
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: thin solid #4f9794;
}
#shoppingCart input {
    text-align: center;
}
#shoppingCart tfoot th {
    text-align: right;
    padding-right: 20px;
}
#shoppingCart {
    width: 900px;
    margin: auto;
    border: thin solid #4f9794;
    text-align: right;
    padding-bottom: 10px;
}
#shoppingList th td {
    padding-bottom: 10px;
}
.flowername {
    font-size: 18px;
    font-weight: bold;
}
#wrapper {
    background-color: #fff;
    width: 90%;
    margin: 0 auto auto auto;
    padding: 0 0 10px 0;
}
#footer {
    width: 100%;
    background-color: #4F9794;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    padding-top: 10px;
    height: 100px;
    position: relative;
    bottom: -10px;
    text-align: center;
}
#footer a {
    font-size: 18px;
    color: white;
    outline: 0;
}
#footer a:hover,
a:active,
a:focus {
    color: black;
}
.article img {
    width: 100%;
}
.horLine {
    clear: both;
    text-align: center;
    width: 90%;
    margin: auto;
}
.horLine img {
    width: 30%;
    margin: auto;
}
.horLine p {
    font-size: 16px;
}
.breadcrumb {
    font-size: 14px;
}
.pageHeading {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px #BEBEBE;
    color: #4F9794;
    margin: 20px auto 10px auto;
}

#signUp {
    font-size: 18px;
}
#signUp a {
    font-size: 20px;
    outline: 0;
}
/*   */

.hoverClass {
    transition: all 1s ease-in-out;
}
.hoverClass:hover {
    transform: scale(1.02);
}
.article {
    margin-bottom: 20px;
}
/* Style the blogue page*/

#accordion1 {
    width: 90%;
}
.panel-group,
#topicForum,
#introduction {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.panel-heading {
    min-height: 6em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.leftSidePanel,
.rightSidePanel {
    height: inherit;
    float: left;
}
#topicForum img {
    margin-left: auto;
    margin-right: auto;
}
.rightSidePanel span,
.leftSidePanel span {
    font-size: 12px;
    color: grey;
    font-style: italic;
}
.panel,
.panel-collapse {
    clear: both;
}
.leftSidePanel span {
    padding: 0;
    margin: 0;
    padding-left: 25px;
}
.leftSidePanel h4 {
    border-bottom: 1px solid grey;
}
.hot {
    display: inline-block;
    width: 30px;
    border: 1px solid grey;
    background-color: orange;
    float: right;
    font-size: 10px;
    text-align: center;
}
.panel-title a {
    text-decoration: none;
    outline: 0;
}
.panel-title a:hover {
    text-decoration: none;
    color: grey;
}
#topicForum input {
    width: 100%;
    float: left;
}
#topicForum div {
    padding: 10px 0;
    padding-right: 10px;
}
.panel-body img {
    border: 1px solid silver;
}
.panel-body .row .col-md-2:first-child {
    margin: 5px;
}
.smallText {
    font-style: italic;
    font-size: 8px;
}
#errorTopicText {
    color: #821D1E;
}
#centered {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    /*set to a negative number 1/2 of your height*/
    
    margin-left: -15em;
    /*set to a negative number 1/2 of your width*/
    
    border: 1px solid #ccc;
    background-color: rgba(19, 124, 100, 0.9);
}
#centered input[type=submit] {
    position: relative;
    left: 35%;
}
#formReply {
    width: 75%;
    margin: auto;
    margin-top: 4em;
    vertical-align: middle;
}
#topicForum blockquote {
    font-size: 10px;
    font-style: italic;
    color: #898989;
}
#errorReplyText,
#errorTopicText {
    font-size: 12px;
    color: rgba(156, 51, 53, 1.00);
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
.panel-group a:visited,
.panel-group a:active,
.panel-group a:visited {
    color: black;
}
/* Styling the Contact Us*/

.articleContact {
    width: 80%;
    margin: auto;
    background-color: rgba(77, 205, 195, 0.6);
    font-size: 20px;
    text-align: justify;
    border: thin solid #4F9794;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 2px #BEBEBE;
    margin-top: 30px;
    margin-bottom: 30px;
}
#googleMap {
    height: 250px;
    margin: 30px;
}
.righSide {
    background-color: white;
    border-radius: 0 20px 20px 0;
}
.leftSide {
    padding: 20px 20px 0 20px;
}
/* Styling the register and login pages*/

.registrationForm {
    width: 100%;
    margin: auto;
    background-color: rgba(77, 205, 195, 0.6);
    padding: 15px;
    font-size: 20px;
    text-align: justify;
    border: thin solid #4F9794;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 2px #BEBEBE;
    margin-bottom: 30px;
}
.registrationForm input {
    padding-left: 20px;
}
.formContainer {
    width: 70%;
    margin: auto;
}
.registrationError {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: rgba(180, 95, 97, 1.00);
    text-align: right;
    padding-right: 15px;
}
.registrationForm .form-group {
    width: 70%;
    margin: auto;
}
#registrationFormSubmit,
#loginFormSubmit {
    text-align: center;
    width: 15em;
    margin: auto;
    margin-left: 25%;
}
/* Styling organic.html*/

.organicSection {
    margin: 20px auto 20px auto;
    background-color: rgba(225, 236, 237, 1.0);
    font-size: 20px;
    text-align: justify;
    border: thin solid #4F9794;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 2px #BEBEBE;
    position: relative;
}
/*
.organicSection img{	
	float:right;
	
}*/

.organic {
    width: 95%;
    margin: auto;
}
.organicSection .img-responsive {
    border-radius: 0 10px 10px 0;
    max-width: 20vw;
    float: right;
    margin: 0;
    padding: 0;
}
.numbers {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    left: -10px;
}
/* Recipes Styling*/

.glyphicon {
    height: 60px;
    width: 60px;
    color: pink;
    border-radius: 50%;
    background-color: black;
}
#myCarousel {
    width: 90%;
    height: auto;
    padding: 15px;
    border: 1px solid grey;
    margin: auto;
    float: none;
    margin-bottom: 15px;
    background-color: white;
}
#recipeContainerRow {
    width: 90%;
    margin: auto;
    height: auto;
    padding: 15px;
    border: 1px solid grey;
    background-color: rgba(225, 236, 237, 1.0);
    border-radius: 15px;
}
.item {
    height: auto;
}
.carousel-control {
    top: 50%;
    width: auto;
    height: 1em;
    background: transparent;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: static;
    display: block;
    width: auto;
}
.carousel-control .glyphicon-chevron-left:before {
    margin-left: 0;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 90%;
    height: 90%;
    margin: auto;
}
.carousel-caption {
    position: absolute;
    bottom: 5%;
    color: #884dff;
}
/* Recipes pages*/

#recipeBox {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(225, 236, 237, 1.0);
    padding: 30px;
}
.recipe {
    width: 100%;
    margin: auto;
    background-color: white;
}
.recipe h1 {
    text-align: center;
}
.recipe #roseyLine {
    display: block;
    margin: auto;
}
.nextPrevious {
    text-align: center;
    width: 80%;
    margin: 10px auto;
}
.recipe ul li {
    list-style-type: none;
}
.recipeLeftSide {
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1) inset, -1px 0 3px rgba(0, 0, 0, 0.4) inset, -5px 0 8px rgba(0, 0, 0, 0.4) inset, 1px 0 4px rgba(0, 0, 0, 0.3), -3px 0 5px rgba(0, 0, 0, 0.5), -45px 0 15px #fff inset;
    overflow: hidden;
}
.recipeRightSide {
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1) inset, -1px 0 3px rgba(0, 0, 0, 0.4) inset, -5px 0 8px rgba(0, 0, 0, 0.4) inset, 1px 0 4px rgba(0, 0, 0, 0.3), -3px 0 5px rgba(0, 0, 0, 0.5), -45px 0 15px #fff inset;
}
.recipe .col-sm-6 {
    border-top-left-radius: 10px 3px;
    border-bottom-left-radius: 10px 3px;
    border-top-right-radius: 10px 3px;
    border-bottom-right-radius: 10px 3px;
    border: 1px solid black;
    height: 600px;
}
.recipeRightSide {
    border-top-left-radius: 10px 3px;
    border-bottom-left-radius: 10px 3px;
    border-top-right-radius: 10px 3px;
    border-bottom-right-radius: 10px 3px;
}
mark {
    text-decoration: underline;
    background-color: white;
}
/* Style the products page */

#productTable,
#shoppingCart {
    width: 90%;
    margin: auto;
    background-color: rgba(225, 236, 237, 1.0);
    margin-bottom: 20px;
}
#productTable caption {} #productTable th,
#shoppingCart th {
    text-align: center;
}
#shoppingCart td {
    text-align: center;
}
tfoot th {
    text-align: center;
}
#productTable h3 {
    margin: 0;
}
#productTable td p {
    margin: 0;

}
#productTable img {
    transition: all 1s ease-in-out;
}
#productTable img:hover {
    transform: scale(1.1);
}
#productTable input {
    width: 40px;
}
#buttonRow {
    width: 90%;
    margin: auto;
    outline: 0;
}
#buyB,
#clear,
#checkOut,
#submitB {
    width: 20vw;
    margin: auto;
    margin-bottom: 20px;
    outline: 0;
}
#buyB:hover,
#clear:hover,
#checkOut:hover,
#submitB:hover,
#postTopic:hover,
#accordion1 input[type=button]:hover {
    background-color: rgb(200, 200, 200);
}
#buyB {
    position: relative;
    left: 40%;
}
#booksReferral {
    margin-left: 100px;
}
/*-----style of check-out page-----***updated 10thJune-*****/

#formContainer form {
    width: 95%;
    margin: auto;
}
#shippingInfo {
    float: left;
    margin: 10px;
}
#paymentInfo {
    float: left;
    margin: 10px;
}
.errorMessage {
    font-size: 10px;
    color: #f00;
    display: inline-block;
    margin: 0;
}
#tablePayment {
    width: 250px;
    margin: 0 10px 80px 10px;
}
#tableShipping {
    width: 250px;
    margin: 10px;
}
#formContainer legend {
    margin-top: 10px;
}
#formContainer {
    width: 90%;
    margin: auto;
    min-height: 700px;
    overflow: hidden;
    background-color: rgba(225, 236, 237, 1.0);
    margin-bottom: 20px;
    font-size: 16px;
}
/* Books styles */

.books h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px #BEBEBE;
    color: #4F9794;
    margin: 10px auto 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.booksReviews img {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
.booksReviews li {
    list-style-type: none;
}
#review1 {
    background-color: rgba(225, 236, 237, 1.0);
    border: thin solid #4F9794;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 2px #BEBEBE;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}
#review2 {
    background-color: rgba(225, 236, 237, 1.0);
    border: thin solid #4F9794;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 2px #BEBEBE;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}
#review3 {
    background-color: rgba(225, 236, 237, 1.0);
    border: thin solid #4F9794;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 2px #BEBEBE;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}
#review4 {
    background-color: rgba(225, 236, 237, 1.0);
    border: thin solid #4F9794;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 2px #BEBEBE;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}
#review5 {
    background-color: rgba(225, 236, 237, 1.0);
    border: thin solid #4F9794;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 2px #BEBEBE;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}
#review6 {
    background-color: rgba(225, 236, 237, 1.0);
    border: thin solid #4F9794;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 2px #BEBEBE;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}
#footer a {
    text-decoration: none;
    outline: 0;
}
.navbar-default {
    background-color: #fff;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
nav li a {
    border-right: 1px solid #576979;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
nav li:last-child a {
    border-right: 0;
}
nav a#pull {
    display: none;
    outline: 0;
    transition: all 0.3s ease-in-out;
}
.flower img {
    float: left;
    width: auto;
    margin-right: 20px;
    margin-top: 20px;
}
.flower {
    background-color: rgba(225, 236, 237, 1.0);
    border: thin solid #4F9794;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 2px #BEBEBE;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}
.flower h1 {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px #BEBEBE;
    color: #4F9794;
    margin: 10px auto 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.flower li {
    list-style-type: none;
    padding-top: 10px;
    text-align: start;
}
.panel-collapse {
    margin-bottom: 20px;
}
#recipeLinks {
    margin: 20px auto;
    text-align: center;
}
#recipeLinks ul {
    width: 90%;
    margin: auto;
}
#recipeLinks li {
    margin: auto;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    padding: 0;
}
#recipeLinks a:hover {
    color: black;
}
#recipeLinks a:visited {
    color: blue;
}
#recipeLinks a {
    text-decoration: none;
}
#recipeLinks li:after {
    content: "   |   ";
}