@charset "utf-8";
/*CSS Document for Desktop Devices*/
/*Organic Flowers Garden WebSite */

/*Group project : Website Design 420-PY3-AB Summer 2016
  Instructor: Dr. Khattar Daou, M.S., Ph.D. Technical Sciences
	Internet Programming and Development IPD8
	
	Designed and presented by:
	Miho Akasaka;
	Nathalie Desrosiers;
	Valentina Migalatti; and
	Leanne Seary
	
	Date: June 4, 2016 */


.panel-body .row .col-md-2:first-child {
	border-right: 1px solid grey;	
}

.organicSection div{
	padding-left: 50px;
	margin:0;	
}
