@charset "utf-8";
/*CSS Document for Mobile Devices*/
/*Organic Flowers Garden WebSite */
/*Group project : Website Design 420-PY3-AB Summer 2016
  Instructor: Dr. Khattar Daou, M.S., Ph.D. Technical Sciences
	Internet Programming and Development IPD8
	
	Designed and presented by:
	Miho Akasaka;
	Nathalie Desrosiers;
	Valentina Migalatti; and
	Leanne Seary
	
	Date: June 4, 2016 */
/* Style the navBar */

nav {
    border-bottom: 0;
}
nav ul {
    display: none;
    height: auto;
}
nav ul li {
   	margin: auto;
	padding: 0;
}
nav a#pull {
    display: block;
    background-color: rgb(79, 151, 148);
    width: 100%;
    position: relative;
    color: white;
}
nav a#pull:hover {
    background-color: rgb(225, 236, 237);
    color: black;
}
.breadcrumb {
    display: none;
}
h3 {
    font-size: 18px;
}
h2 {
    margin: 0;
    padding: 0;
}
.pageHeading {
    font-size: 20px;
}
.breadcrumb {
    font-size: 12px;
}
.horLine p {
    font-size: 14px;
}
#footer a {
    font-size: 14px;
}
#footer p {
    font-size: 12px;
}
#header a {
    font-size: 12px;
    position: relative;
    bottom: -10px;
    right: -15px;
}
.horLine img {
    display: none;
}
/*Styling the recipes page*/

.glyphicon {
    height: 5px;
    width: 5px;
    background-color: transparent;
}
#myCarousel {
    padding: 5px;
}
.carousel-control {
    height: 0.5em;
}
.carousel-indicators {
    display: none;
}
.carousel-caption {
    font-size: 12px;
}
.carousel-caption h3 {
    font-size: 12px;
}
#recipeContainerRow {
    padding: 0;
}
/* Styling the Contact Us*/

.articleContact {
    font-size: 14px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#googleMap {
    width: 100%;
    padding: 0;
    margin: 0;
}
.righSide {
    border-radius: 0 0 10px 10px;
}
/* Styling the register and login pages*/

form label {
    width: 100%;
    font-size: 16px;
}
form .col-sm-8,
form col-sm-4 {
    width: 100%;
    padding: 5px;
    margin: 0;
}
form {
    width: 100%;
    padding: 0;
    margin: 0;
}
.formContainer {
    width: 90%;
}
.pageHeading {
    margin: 0;
    padding: 0;
}
#registrationFormSubmit,
#loginFormSubmit {
    width: 100%;
    margin: auto;
}
.registrationForm {
    padding: 0 0 0 0;
    margin: 10px 0 0 0;
}
.registrationForm br + br {
    display: none;
}
.registrationForm .form-group {
    width: 100%;
}
.form-group .row {
    width: 100%;
    padding: 5px;
}
/* Style the forum page */

.panel-heading .col-xs-8 {
    width: 100%;
}
.panel-heading .col-xs-offset-0 {
    width: 100%;
}
.rightSidePanel br {
    display: none;
}
.rightSidePanel {
    padding: 0;
    margin: 0;
}
.leftSidePanel {
    overflow: hidden;
    height: 100%;
}
.hot {
    display: none;
}
#centered textarea {
    position: relative;
    left: 10px;
}
#centered input[type=submit] {
    position: relative;
    left: 35%;
}
/* Style the organic page */

.organicSection img {
    display: none;
}
.organicSection .numbers {
    display: block;
    top: -25px;
}
/*********Style for Products page by MIho *************************/

#ourProducts h2 {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}
#ourProducts p {
    margin: 0;
    font-size: 12px;
    text-align: center;
}
#booksReferral img {
    display: none;
}
#checkOutForm input {
    width: 95%;
}
#productTable th {
    font-size: 14px !important;
}
#productTable img {
    width: 100px;
}
#productTable h3 {
    font-size: 14px;
}
#productTable tr td:nth-child(2) {
    display: none;
}
#productTable tr th:nth-child(2) {
    display: none;
}
#booksForPhone {
    display: inline-block;
}
.pnameForPhone {
    display: block;
    font-weight: bold;
}
#submitB {
    clear: both;
    width: 250px;
    margin: auto;
}