@charset "utf-8";
/*CSS Document for Tablet Devices*/
/*Organic Flowers Garden WebSite */
/*Group project : Website Design 420-PY3-AB Summer 2016
  Instructor: Dr. Khattar Daou, M.S., Ph.D. Technical Sciences
	Internet Programming and Development IPD8
	
	Designed and presented by:
	Miho Akasaka;
	Nathalie Desrosiers;
	Valentina Migalatti; and
	Leanne Seary
	
	Date: June 4, 2016 */
/*Style the navbar */
/* Styling the recipe page*/

.glyphicon {
    height: 20px;
    width: 20px;
}
#myCarousel {
    padding: 5px;
    margin-bottom: 10px;
}
.carousel-control {
    height: 0.5em;
}
.carousel-indicators {
    display: none;
}
/* Styling the register and login pages */

#loginFormSubmit {
    margin: 0;
}
form label {
    font-size: 18px;
}
form .col-sm-8,
form col-sm-4 {
    width: 200px;
    padding: 0;
    margin: auto;
}
form {
    width: 100%;
    padding: 0;
    margin: 0;
}
.formContainer {
    width: 90%;
}
.pageHeading {
    margin: 0;
    padding: 0;
}
#registrationFormSubmit,
#loginFormSubmit {
    width: 100%;
    margin: 0;
}
.registrationForm {
    padding: 0 0 0 0;
    margin: 10px 0 0 0;
}
.registrationForm br + br {
    display: none;
}
.registrationForm .form-group {
    width: 100%;
    margin: auto;
}
/*Style the why organic page */

.organicSection div {
    width: 100%;
    padding: 10px;
    margin: auto;
}
.organicSection col-sm-8,
.organicSection col-sm-4 {
    width: 50%;
}
.organicSection img {
    display: none;
}
.organicSection .numbers {
    display: block;
}
/* Style the forum page */

.hot {
    display: none;
}
nav {
    border-bottom: 0;
}
nav ul {
    display: none;
    height: auto;
}
nav a#pull {
    display: block;
    background-color: rgb(79, 151, 148);
    width: 100%;
    position: relative;
    color: white;
}
nav a#pull:hover {
    background-color: rgb(225, 236, 237);
    color: black;
}